@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */

/* share styles Start*/
body {
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}

/* share styles End*/
.btn-primary {
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* Nav Style Start */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}

.nav-text-logo {
    font-size: 32px;
}

.sign-in-btn {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    border: 1px solid #006A50;
    background: transparent;
    height: 52px;
    cursor: pointer;
}

/* Nav Style End */


/* Banner Section Start */
.banner-section {
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 20px 160px;
    display: flex;
    height: 560px;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
    padding: 80px 60px;

}

.hero-pic {
    height: 400px;
}

.banner-sub-title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin: 0;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 16px 0px 24px 0px;
}

/* Banner Section End */

/* main style */
main {
    margin: 24px 160px;
}

/* Pillars scetion start */
.Pillars-section {
    margin: 80px 0px;
}

.pillars-section-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.pillars-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillars-card {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, .8);
    margin-top: 24px;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

/* Pillars scetion End */

/* future section star */
.future-card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.future-card {
    width: 410px;
    border-radius: 16px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.future-section-description {
    line-height: 24px;
}

.future-card-1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.future-card-2 {
    background-color: rgb(198, 228, 214);
}

.future-card-3 {
    background-color: rgb(247, 235, 207);
}


.future-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 24px 0px 12px 0px;
}

.future-description {
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px 24px 0px;
}

.btn-secondary {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
}

.future-btn-1 {
    background-color: #5490F5;
}

.future-btn-2 {
    background-color: #09A15C;
}

.future-btn-3 {
    background-color: #FFC239;
}

/* future section End */

/* dr yunus speaks start */
.dr-yunus-speaks {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px 24px 48px 24px;
    margin-top: 32px;
    align-items: center;
}

.quote {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}

.quote p {
    padding-top: 30px;
    margin-bottom: 12px;
    line-height: 24px;
}

.dr-yunus-speaks h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}

.dr-yunus-speaks p {
    margin: 0;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);

}

/* dr yunus speaks end */

/* Opinion section start */
.table-container {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 16px;
}

.opinion-table,
tr,
td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    width: 100%;
}

.opinion-table thead {
    background-color: #C6E4D6;

}

.opinion-table th,
td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin: 24px;
}

.opinion-table th {
    font-size: 20px;
    font-weight: 600;
}

.opinion-table td {
    font-weight: 600;
}

select {
    padding: 10px 14px;
    margin: 24px;
    border-radius: 4px;
    background-color: #C6E4D6;
}

.opinion-table option,
select {
    font-weight: 600;
}

/* Opinion section end */

/* newssection start */
.satellite-container {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    align-items: center;
}

.satellite-one-container {
    margin-top: 32px;
    margin-bottom: 24px;
}
.satellite-two-container {
margin-bottom: 24px
}
.satellite-three-container {
margin-bottom: 80px;
}

.satelite-img img {
    border-radius: 24px;
}

.satellite-title {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
}

.satelite-time {
    display: flex;
    gap: 12px;
}

.satelite-time p {
    color: rgba(14, 14, 14, 0.7);
    margin: 0;
}

.satellite-discribe img {
    margin: 12px 0px;
}

.satelite-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
    margin-top: 12px;
}

/* newssection End */